.menuContainer {
    z-index: 3;
    position: absolute;
    padding: 2vh 2vw;
    margin: 24.5px 28px 30.5px 28px;
    top: 0;
    left: 0;
    height:20px;
    border-radius: 12px;
    background-color: #131314;
}

.menu {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr, 0.2fr 1.6fr; 
    gap: 20px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .menuContainer {
        display: none;
    }
    .eyeMouth {
      border: 7.5px solid #aee6ed;
      border-top: 0;
    }
  }
  
