body {
  background: linear-gradient(96deg, #0a0a0b 3.92%, #0a0a0a 94.74%);
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  line-height: 20px;
}

.body {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 20px;
  grid-template-areas:
    "header chat"
    "tab chat";
}

.tabContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.2fr 1.6fr;
  gap: 20px 0px;
  grid-template-areas:
    "."
    ".";

  background-color: #131314;
  color: rgba(255, 255, 255, 0.4);

  color: rgba(255, 255, 255, 0.4);
  font-size: 10px;
  text-transform: uppercase;

  height: auto;
  padding: 12px;
  border-radius: 12px;
  grid-area: tab;
}

.chatContainer {
  background-color: #131314;
  padding: 2vh 2vw;
  border-radius: 12px;
  height: 90vh;
  width: auto;
  color: rgba(255, 255, 255, 0.8);
  grid-area: chat;
}

.messageContainer {
  overflow-y: auto;
  height: 60vh;
  margin: 0% 2% 0% 2%;
  font-size: 15px;
}

.promptContainer {
  /* layout */
  height: 46px;
  /* position */
  position: relative;
  top: 70vh;
  /* style */
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3a40;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e2e33;
}
