@font-face {
  font-family: 'SpaceGrotesk';
  src: URL('/fonts/SpaceGrotesk.ttf') format('truetype');
}
.user{
    color: green;
}
.chatBot{
    color: red;
}
body{
    background-color: gray;
    font-family: SpaceGrotesk;
}
