.botMessage {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.1fr 1.9fr;
  grid-template-areas: "icon text";

  /* layout */
  min-height: 15px;
  height: auto;
  width: fit-content;
  max-width: 686px;
  overflow-wrap: break-word;

  /* position */
  margin-left: 25px;
  margin-right: auto;
  margin-bottom: 7px;
  padding: 12px;
  position: relative;

  /* style */
  border-radius: 10px;
  background: #020203;

  /* font */
  color: #fff;
  font-size: auto;
}

.userMessage {
  min-height: 15px;
  height: auto;
  width: fit-content;
  max-width: 686px;
  overflow-wrap: break-word;

  margin-left: auto;
  margin-right: 25px;
  margin-bottom: 7px;
  padding: 12px;
  position: relative;
  text-align: right;

  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;

  color: #fff;
  font-size: auto;
}

img {
  grid-area: icon;
  width: 23px;
  padding-right: 10px;
}

.text {
  grid-area: text;
  padding-top: 3px;
}
