.user{
    color: #FFF;
}
.chatBot{
    color: #98261a;
}

.chatPage{
    display: flex;
    padding: 1.6% 0% 2.2% 0%;
    justify-content: center;
    align-items: center;
    gap: 2.0%;
    background: linear-gradient(96deg, #0A0A0B 3.92%, #0A0A0A 94.74%);
}

.chatSidebar{
    display: flex;
    padding: 1.6% 1.2%;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.0%;
    border-radius: 10px;
    background: #303033;
}

.chatBox{
    float: right;
    width: 75%;
    height: 25%;
    flex: shrink;
    border-radius: 1.0%;
    background: #303033;
}
