.prompt {
  /* layout */
  width: 75%;
  max-width: 650px;
  height: 20px;
  padding: 12px 12px 12px 12px;
  /* position */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  /* style */
  outline: none;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
  background: #020203;

  /* font */
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
}

.promptLine {
  /* layout */
  left: 0;
  right: 0;
  top: 95%;
  width: 20%;
  max-width: 200px;
  height: 74px;

  /* position */
  position: absolute;
  margin-left: auto;
  margin-right: auto;

  /* style */
  background-color: #3939ff; /* Background color of the circle */
  border-radius: 159px;
  filter: blur(12px);
}
