<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithShakapacker</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'chat-room-bundle' %>
    <%= stylesheet_pack_tag 'chat-room-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
